body {
	background: url(../images/bk.jpg) no-repeat 50% 0%;
	height: 100%;
	width: 100%;
    overflow: auto;
}

a {
	color: #FFFFFF;
}

.yellowline {
	height: 373px;
	background-image: url(../images/tp_yellowbox.jpg);
	background-repeat: repeat;
	background-position: center center;
}
.yellowin {
	width: 1024px;
	position: relative;
	background-image: url(../images/tp_yellowbox.jpg);
	background-position: center center;
	height: 373px;
	margin-right: auto;
	margin-left: auto;
}
.yellownews {
	position: absolute;
	height: 80px;
	width: 240px;
	left: 700px;
	top: 64px;
	overflow: hidden;
	z-index: 0;
}
.yellowline a {
	color: #FFF;
}
.yellownewsin dt {
	font-weight: bold;
	color: #FFF;
	line-height: 140%;
}
.yellownewsin dd {
	padding-bottom: 7px;
}
#yellowmovie {
	height: 148px;
	width: 263px;
	position: absolute;
	left: 686px;
	top: 205px;
}
.fw1 {
	position: absolute;
	left: -200px;
	top: 47px;
	z-index: 1100;
}

.fw2 {
	position: absolute;
	z-index: 900;
	left: 273px;
	top: -123px;
}
.fw3 {
	position: absolute;
	left: 817px;
	top: 383px;
	z-index: 1100;
}
.tu1 {
	position: absolute;
	left: 94px;
	top: 129px;
}
.tu2 {
	position: absolute;
	left: 637px;
	top: 560px;
	z-index: 1100;
}
.tu3 {
	position: absolute;
	left: 985px;
	top: -45px;
}
#tpname {
	background-image: url(../images/bg_name.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 640px;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	position: relative;
}
.twcircle {
	background-image: url(../images/twcircle.png);
	height: 470px;
	width: 470px;
	position: absolute;
	left: -22px;
	top: 54px;
	z-index: 1100;
}
.twin {
	height: 250px;
	width: 348px;
	position: absolute;
	left: 60px;
	top: 116px;
}
.btn_twi {
	height: 49px;
	width: 49px;
	margin-left: -25px;
	position: absolute;
	left: 50%;
	top: 400px;
}
.btn_twi a:hover {
	opacity:0.7;
}
.pvbtn {
	height: 204px;
	width: 169px;
	position: absolute;
	right: 0px;
	bottom: 14px;
	z-index: 1500;
}
#footer {
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 114px;
	background-image: url(../images/t_footer_bg.gif);
	background-repeat:repeat-x;
	background-position: center bottom;
	z-index: 1100;
	position: relative;
    top: -70px;
}
#cnav li {
	height: 114px;
	width: 108px;
	position: absolute;
	top: 0px;
	overflow: hidden;
	z-index: 1101;
}
#cnav li a {
	display: block;
	height: 124px;
	background-repeat: no-repeat;
	background-position: center bottom;
}
.footerin {
	height: 114px;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
#cnav {
	position: absolute;
	height: 114px;
	width: 540px;
	left: 0px;
	top: 0px;
	background-image: url(../images/bg_cnav.gif);
	background-repeat: no-repeat;
	background-position: center bottom;
}
.cnav1 {
	left: -30px;
}
.cnav2 {
	left: 68px;
}
.cnav3 {
	left: 166px;
}
.cnav4 {
	left: 277px;
}
#cnav .cnav5 {
	left: 357px;
	width: 145px;
}
.cnav1 a {
	background-image: url(../images/cnav1.png);
}
.cnav2 a {
	background-image: url(../images/cnav3.png);
}
.cnav3 a {
	background-image: url(../images/cnav2.png);
}
.cnav4 a {
	background-image: url(../images/cnav5.png);
}
.cnav5 a {
	background-image: url(../images/cnav4.png);
}
#cnav a.active {
	height: 114px !important;
}
.attention {
	position: absolute;
	height: 30px;
	width: 266px;
	right: 154px;
	bottom: 8px;
	font-size: 8px;
	text-shadow: 1px 1px 1px #FFF;
	line-height: 160%;

}
.copyright {
	text-shadow: 1px 1px 1px #FFF;
	font-size: 8px;
	text-align: right;
	position: absolute;
	right: 0px;
	bottom: 14px;
}
.sns {
	height: 22px;
	width: 240px;
	position: absolute;
	left: 604px;
	top: 47px;
}
.snsin {
	float: left;
	height: 22px;
	width: 120px;
}
#tcharacter {
	position: absolute;
	z-index: 1000;
	height: 1190px;
	width: 1050px;
	left: 60px;
	top: -147px;
}
#tcharacter img {
	position: absolute;
	left: 0px;
	top: 0px;
}
.tc2, .tc3, .tc4, .tc5,.tc1 {
	display: none;
}
.sub_icon {
	height: 96px;
	width: 392px;
	margin-left: -196px;
	position: absolute;
	left: 50%;
	top: -144px;
	z-index: 1100;
}
#sbmain {
	/* background-image: url(../images/bg_name.png); */
	background-repeat: repeat-y;
	background-position: center top;
	padding-top: 156px;
}
#sbinner {
	background-color: #FFF;
	padding-top: 9px;
	padding-bottom: 9px;
	position: relative;
	margin-bottom: 115px;
}
#sbbox {
	min-height:1000px;
	background-repeat: repeat;
	background-position: center top;	
}
.news{
	background-image: url(../images/bg_news.jpg);
}
.staff{
	/* background-image: url(../images/bg_staff.jpg); */
}
.story{
	background-image: url(../images/bg_story.jpg);
}
.cast{
	background-image: url(../images/bg_cast.jpg);
}
.onair{
	background-image: url(../images/bg_onair.jpg);
}
.music{
	background-image: url(../images/bg_music.jpg);
}
.words{
	background-image: url(../images/bg_words.jpg);
}
.about{
	background-image: url(../images/bg_about.jpg);
}
.bddvd{
	background-image: url(../images/bg_bddvd.jpg);
}
.sp{
	background-image: url(../images/bg_sp.jpg);
}
.sbwrap h2 {
	height: 373px;
	width: 682px;
	position: absolute;
	z-index: 900;
	left: -126px;
	top: -122px;
	background-repeat: no-repeat;
}
.h2news{
	background-image: url(../images/h2_news.png);	
}
.h2staff{
	background-image: url(../images/h2_staff.png);	
}
.h2story{
	background-image: url(../images/h2_story.png);	
}
.h2cast{
	background-image: url(../images/h2_cast.png);	
}
.h2onair{
	background-image: url(../images/h2_onair.png);	
}
.h2music{
	background-image: url(../images/h2_music.png);	
}
.h2words{
	background-image: url(../images/h2_words.png);	
}
.h2about{
	background-image: url(../images/h2_about.png);	
}
.h2bddvd{
	background-image: url(../images/h2_bddvd.png);	
}
.h2sp{
	background-image: url(../images/h2_sp.png);	
}
.sbwrap {
	width: 550px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 120px;
	position: relative;
	padding-bottom: 120px;
	min-height: 557px;
}
.sbdocs {
	position: relative;
	z-index: 1500;
	color: #FFF;
}
.sdurl {
	position:absolute;
	width:100px;
	height:26px;
	display:block;
	background-image:url(../images/onair_url.png);
	z-index:1501;
}
.sdurl:hover {
	opacity:0.7;
}
#sdurl1 {
	top: 783px;
	left: 371px;
}
#sdurl2 {
	top: 832px;
	left: 371px;
}
#sdurl3 {
	top: 881px;
	left: 371px;
}
#sdurl4 {
	top: 930px;
	left: 371px;
}
.newslist li {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #FFF;
}
.newslist li a {
	font-size: 16px;
	line-height: 24px;
	color: #FFF;
	text-decoration: none;
}
.newslist li a:hover {
	text-decoration: underline;
}
#sbdocsfoot {
	height: 117px;
	width: 586px;
	margin-left: -293px;
	position: absolute;
	z-index: 900;
	left: 276px;
	bottom: -115px;
	text-align: center;
}
.footnews {
	background-image: url(../images/bg_ftnews.png);
}
.footstaff {
	background-image: url(../images/bg_ftstaff.png);
}
.footstory {
	background-image: url(../images/bg_ftstory.png);
}
.footcast {
	background-image: url(../images/bg_ftcast.png);
}
.footonair {
	background-image: url(../images/bg_ftonair.png);
}
.footmusic {
	background-image: url(../images/bg_ftmusic.png);
}
.footwords {
	background-image: url(../images/bg_ftwords.png);
}
.footabout {
	background-image: url(../images/bg_ftabout.png);
}
.footbddvd {
	background-image: url(../images/bg_ftbdvd.png);
}
.footsp {
	background-image: url(../images/bg_ftsp.png);
}
.sb_footer {
	height: 22px;
	width: 1024px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 85px;
	padding-bottom: 6px;
	position: relative;
}
#sb_footend {
	/* background-image: url(../images/bg_sbfooter.gif); */
	height: 110px;
}
.bttop {
	height: 56px;
	width: 49px;
	position: absolute;
	top: -56px;
	right: 217px;
	z-index: 1560;
}
.bttop a:hover {
	opacity:0.7;
}
.sb_attention {
	font-size: 9px;
	line-height: 22px;
	float: left;
	height: 22px;
	width: 624px;
}
.sbcopyright {
	font-size: 9px;
	line-height: 22px;
	text-align: right;
	float: left;
	height: 22px;
	width: 160px;
}
.icon1 {
	height: 191px;
	width: 192px;
	position: absolute;
	left: 512px;
	top: -39px;
	z-index: 1550;
}
.icon2 {
	height: 285px;
	width: 285px;
	position: absolute;
	z-index: 1000;
	left: 589px;
	top: 309px;
}
.icon3 {
	height: 228px;
	width: 229px;
	position: absolute;
	left: -147px;
	top: 673px;
	z-index: 1600;
}
.icon4 {
	height: 228px;
	width: 229px;
	position: absolute;
	left: -300px;
	top: 200px;
	z-index: 1600;
}
.h3story {
	width: 512px;
	position: absolute;
	left: 0px;
	top: -30px;
	right: 0px;
	font-weight:bold;
}
.storyimg {
	width:100%;
	background-repeat: repeat;
	background-position: center center;
	height: 315px;
	position: absolute;
	left:0;
	top: 170px;
	z-index: 900;
	overflow:hidden;
	border-top:solid 6px #FFFFFF;
	border-bottom:solid 6px #FFFFFF;
}

.stoIn {
	width:488px;
	margin:0 auto;
	padding-top:400px;
	
}
.stoIn h5 {
	margin-bottom:10px;
	font-weight:bold;
}
.stoIn .thum {
	margin-bottom:30px;
	border:solid 6px #FFFFFF;
	background-color:#FFFFFF;
}
.stoIn .thum li {
	float:left;
	cursor:pointer;
}
.stoIn .texBody {
	margin-bottom:30px;
}



#slideWrap {
	width:100%;
	position:relative;
}
#slide {
	width:100%;
	position:absolute;
	left:0;
	padding:0;
}
.slideBody {
	width:12330px;
	overflow:hidden;
	position:relative;
	height:315px;
}
.slideBody li {
	width:685px;
	float:left;
	vertical-align:middle;
}




.bn {
	height: 164px;
	width: 574px;
	margin-left: -287px;
	position: absolute;
	left: 50%;
	top: 598px;
	z-index: 1500;
}
.bn li {
	padding: 5px;
	height: 72px;
	width: 72px;
	float: left;
}
.chara {
	height: 925px;
	width: 680px;
	position: absolute;
	left: -506px;
	top: -80px;
	z-index: 1499;
}
.sbdocs p {
	padding-bottom: 18px;
}
.sbdocs .h3story {
	padding-bottom: 25px;
	text-align: center;
}
.sbdocs h3 {
	padding-bottom: 25px;
}
.newsback {
	text-align: center;
	padding-top: 25px;
}
.newsback a:hover {
	opacity:70px;
}
.btnews {
	position: absolute;
	height: 77px;
	width: 77px;
	left: 419px;
	top: -29px;
	z-index: 1100;
}
.chara img {

}
#tcharacter .tc6 {
	left: -330px;
	z-index: 1101;
}

#cnav .cnav6 {
	position: absolute;
	width: 109px;
	left: 462px;
}
.cnav6 a {
	background-image: url(../images/cnav6.png);
}

.music .tex1 {
	position: relative;
	z-index: 1500;
	color: #FFF;
	left:-30px;
	top:30px;
}


.words .tex2 {
	position: relative;
	z-index: 1500;
	color: #FFF;
	left:-30px;
	top:-20px;
}
.words .tex2 .new {
	font-weight:bold;
	text-align:center;
}

.newListWrap {
	width:608px;
	border-bottom:2px solid #FFFFFF;
}

.newList {
	width:608px;
	margin-top:10px;
	padding-bottom:10px;
}
.newList li {
	width:149px;
	height:37px;
	background-image:url(../images/icon_new.jpg);
	background-repeat:no-repeat;
	background-position:left 5px;
	padding-left:53px;
	float:left;
}
.newList li a {
	color:#FFFFFF;
	text-decoration:none;
}

.wordsNav {
	margin:0 0 30px 0;
}
.wordsNav li {
	float:left;
	margin-right:12px;
}
.wordsNav li a {
	width:46px;
	height:46px;
}
.wordsNav li a:hover {
	opacity:0.7;
}
.words .tex1Wrap {
	width:608px;
	position:relative;
	left:-30px;
	z-index:999;
	margin-bottom:0px;
}

.wordsL,
.wordsR {
	color:#FFFFFF;
	min-height:30px;
	margin-bottom:10px;
}

.wordsL {
	width:148px;
	float:left;
	padding-left:50px;
	clear:both;
}
.wordsR {
	width:381px;
	float:left;
	padding-left:29px;
	background-image:url(../images/words_dot.jpg);
	background-repeat:no-repeat;
	background-position:left 3px;
}

.words .tex1Wrap dt {
	width:608px;
	text-align:right;
	margin:0 0 10px 0;
}
.words .tex1Wrap dd hr {
	clear:both;
}
.words .tex1Wrap .new {
	background-image:url(../images/icon_new2.jpg);
	background-repeat:no-repeat;
	background-position:left 3px;
}

.pageTop {
	width:100%;
	display:block;
	text-align:right;
	padding-top:20px;
	margin-bottom:30px;
	clear:both;
}
.pageTop a {
	margin-right:10px;
}

#btnAbout1 {
	position:absolute;
	top:15px;
	right:-40px;
	z-index:999;
}
#btnAbout1:hover {
	opacity:0.7;
}

#tachiAbout1 {
	position:absolute;
	top:-100px;
	right:-260px;
	z-index:998;
}

#titAbout1 {
	position:absolute;
	top:-100px;
	right:-260px;
}

#titAbout {
	position: absolute;
	top: 170px;
	left: 60px;
	z-index: 999;
}
.about .tex1 {
	z-index:999;
	position:relative;
}
.about .tex1Wrap {
	padding-top:150px;
	
}
.about .aboutTable {
	width:1085px;
	height:1267px;
	left:-250px;
	position:relative;
	background-image:url(../images/about_table4.png);
}

.about .aboutTable .pagenav {
	position:absolute;
	top:16px;
	left:458px;
}
.about .aboutTable .pagenav li {
	float:left;
	margin-right:18px;
}
.about .aboutTable .pagenav a {
	width:34px;
	height:34px;
	display:block;
}
.about .aboutTable .pagenav a.active,
.about .aboutTable .pagenav a:hover {
	opacity:0.7;
}
.about .aboutTable .pagenav a.active {
	cursor:default;
}
.about .aboutTable .pagenav a.prev {
	background-image:url(../images/btn_about_prev.png);
}
.about .aboutTable .pagenav a.next {
	background-image:url(../images/btn_about_next.png);
}

.about .aboutTable .cellWrap {
	width:840px;
	display:table;
	table-layout: fixed;
	position:absolute;
	top:132px;
	left:144px;
}
.about .aboutTable .tr {
	display: table-row;
}
.about .aboutTable .td {
	width:70px;
	height:50px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}


.about .tex2 {
	z-index:999;
	position:relative;
	left:-300px;
	top:70px;
}
.about .tex2Wrap_da {
	padding-top:80px;
	width:839px;
	height:1080px;
	position:relative;
	left:-295px;
	background-image:url(../images/nagare_image.png);
	background-position:0 80px;
	background-repeat:no-repeat;
}
.about .tex2Wrap {
	padding-top:100px;
	width:608px;
	position:relative;
	left:-10px;
	
}
.about .tex2Wrap .tr {
	display: table-row;
}
.about .tex2Wrap .td {
	display:table-cell;
	vertical-align:top;
}
.about .tex2Wrap .td ul {
	margin-left:15px;
}
.about .tex2Wrap .td li {
	background-image:url(../images/about2_cent_next.jpg);
	background-repeat:no-repeat;
	background-position:center bottom;
	padding-bottom:29px;
}
.about .tex2Wrap .td li.head {
	margin-top:12px;
}
.about .tex2Wrap .td li.long {
	margin-bottom:38px;
}
.about .tex2Wrap .td li.last {
	padding-bottom:0px;
}

.about .tex2Wrap #huki1 {
	margin-bottom:224px;
}
.about .tex2Wrap .huki .texBody {
}

#about2Left1 {
	width:241px;
	height:310px;
	background-image:url(../images/about2_left1.png);
	margin-bottom:366px;
}
#about2Left2 {
	width:241px;
	height:250px;
	background-image:url(../images/about2_left2.png);
}

#about2Right {
	width:406px;
	height:1080px;
	background-image:url(../images/about2_right_bg.png);
	background-repeat:no-repeat;
}

#about2Right1 {
	width:468px;
	height:139px;
	background-image:url(../images/about2_right1.png);
}

#about2Cent {
	padding-top:34px;
}

#aboutNav {
	width: 420px;
	height: 60px;
	background-image: url(../images/about_nav_bg.jpg);
	position: absolute;
	top: 90px;
	left: 45px;
	padding: 10px 0 0 10px;
	z-index: 1000;
}
#aboutNav li {
	float:left;
}

#aboutNav li a {
	width:200px;
	height:50px;
	display:block;
}
#aboutNav li.nav1 a {
	background-image:url(../images/about_nav1.jpg);
}
#aboutNav li.nav2 a {
	background-image:url(../images/about_nav2.jpg);
}
#aboutNav li a:hover,
#aboutNav li a.active {
	background-position:0 bottom;
}

.chui {
	margin:30px 0 0 0;
	clear:both;
	color:#FFFFFF;
}

#banner {
	width:100%;
	background-color:#FFFFFF;
}
#banner ul {
	width:1100px;
	margin:0 auto;
	padding:15px 0;
	text-align:center;
}
#banner ul li {
	display:inline;
	width: auto;
	white-space: nowrap;
	margin-right:10px;
}


.sp .tex2 {
	z-index:999;
	position:relative;
	left:0;
	top:70px;
	left:-40px;
}
.sp .tex2Wrap {
	padding-top:20px;
	width:614px;
	position:relative;
	left:-0;
	color:#FFFFFF;
	
}
#titSp {
	position:absolute;
	top:130px;
	left:20px;
	z-index:999;
}

.sp .tab {
	width:420px;
	height:60px;
	background-image:url(../images/sp_btn_bg.jpg);
	display:block;
	position:absolute;
	top:50px;
	left:50px;
	z-index:999;
	padding:10px 0 0 10px;
}
.sp .tab li {
	float:left;
	margin-right:10px;
}
.sp .tab li a {
	width:200px;
	height:50px;
	display:block;
}
.sp .tab li.tab1 a {
	background-image:url(../images/sp_btn1.jpg);
}
.sp .tab li.tab2 a {
	background-image:url(../images/sp_btn2.jpg);
}

.sp .tab li a:hover,
.sp .tab li a.active {
	background-position:0 bottom;
}

.sp .movieBlo {
	width:600px;
	background-image:url(../images/sp_dot.gif);
	background-repeat:no-repeat;
	background-position:center bottom;
	margin:0 0 30px 0;
	padding:0 0 30px 0;
}
.sp .movieBlo h3 {
	padding:12px 0;
}

.sp .photo {
	margin-bottom:30px;
}

.sp h3 {
	margin-bottom:30px;
}
.sp h4 {
	margin-bottom:20px;
	font-weight:bold;
}
.sp .texBody {
	background-image:url(../images/sp_comm_dot.jpg);
	background-repeat:no-repeat;
	background-position:center bottom;
	padding-bottom:45px;
	margin-bottom:15px;
}
.sp .texBody .block {
	margin-bottom:50px;
}


.story #stoNav {
	border-top:dotted 1px #FFFFFF;
	border-bottom:dotted 1px #FFFFFF;
	padding:33px 0;
	margin-top:30px;
}
.story #stoNav li {
	float:left;
	margin-right:11px;
}
.story #stoNav li a {
	width:72px;
	height:84px;
	display:block;
}
.story #stoNav li a:hover,
.story #stoNav li a.active {
	background-position:0 bottom;
}
.story #stoNav li.sto0 a {
	background-image:url(../images/btn_story0.png);
}
.story #stoNav li.sto1 a {
	background-image:url(../images/btn_story1.png);
}
.story #stoNav li.sto2 a {
	background-image:url(../images/btn_story2.png);
}
.story #stoNav li.sto3 a {
	background-image:url(../images/btn_story3.png);
}
.story #stoNav li.sto4 a {
	background-image:url(../images/btn_story4.png);
}
.story #stoNav li.sto5 a {
	background-image:url(../images/btn_story5.png);
}
.story #stoNav li.sto6 a {
	background-image:url(../images/btn_story6.png);
}
.story #stoNav li.sto7 a {
	background-image:url(../images/btn_story7.png);
}
.story #stoNav li.sto8 a {
	background-image:url(../images/btn_story8.png);
}
.story #stoNav li.sto9 a {
	background-image:url(../images/btn_story9.png);
}
.story #stoNav li.sto10 a {
	background-image:url(../images/btn_story10.png);
}
.story #stoNav li.sto11 a {
	background-image:url(../images/btn_story11.png);
}
.story #stoNav li.sto12 a {
	background-image:url(../images/btn_story12.png);
}
.story #stoNav li.sto13 a {
	background-image:url(../images/btn_story13.png);
}
.story #stoNav li.sto14 a {
	background-image:url(../images/btn_story14.png);
}
.story #stoNav li.sto15 a {
	background-image:url(../images/btn_story15.png);
}
.story #stoNav li.sto16 a {
	background-image:url(../images/btn_story16.png);
}
.story #stoNav li.sto17 a {
	background-image:url(../images/btn_story17.png);
}
.story #stoNav li.sto18 a {
	background-image:url(../images/btn_story18.png);
}
.story #stoNav li.sto19 a {
	background-image:url(../images/btn_story19.png);
}
.story #stoNav li.sto20 a {
	background-image:url(../images/btn_story20.png);
}
.story #stoNav li.sto2 a {
	background-image:url(../images/btn_story2.png);
}
.story #stoNav li.sto21 a {
	background-image:url(../images/btn_story21.png);
}
.story #stoNav li.sto22 a {
	background-image:url(../images/btn_story22.png);
}
.story #stoNav li.sto23 a {
	background-image:url(../images/btn_story23.png);
}
.story #stoNav li.sto24 a {
	background-image:url(../images/btn_story24.png);
}
.story #stoNav li.sto25 a {
	background-image:url(../images/btn_story25.png);
}
.story #stoNav li.sto26 a {
	background-image:url(../images/btn_story26.png);
}




.bddvd #tabcnt{
	color:#FFF;
	font-size:13px;
}

.bddvd .cover{
	width:200px;
	float: left;
}

.bddvd .txtSec{
	width:410px;
	float: right;
}

.bddvd .tabBox {
	width:610px;
}


.bddvd .tabBox .link {
	width:100%;
	display:block;
	text-align:right;
}


.bddvd #tabcnt h3 {
  border-radius: 10px;
	background:#FDC125;
	padding:8px 15px;
	margin:0 0 30px;
	font-weight:bold;
	font-size:130%;
}
.bddvd #tabcnt h4 {
	font-size:18px;
	padding-bottom:5px;
	margin:15px 0;
	border-bottom:1px solid #FFF;
}

.bddvd #tabcnt table {
	margin-bottom:20px;
}

.bddvd #tabcnt table th{
	padding:0 15px 0 0;
	margin-bottom:20px;
}

.bddvd #tabcnt .sales{
  background-color: #313131;
	color:#ffea00;
	padding: 2px 5px;
}

.bddvd #tabcnt .ttlTxt{
	background:#FFF;
	color:#D04A4E;
	padding: 2px 5px;
	font-weight:bold;
	font-size:12px;
}
.bddvd #tabcnt .dtlTxt{
	margin:5px 0 10px 0;
}

.bddvd .sbwrap {
	min-height: 706px;
}

.bddvd #tabcnt {
}

.bddvd #tabcnt {
}

.bddvd #tabcnt {
}
.book{
	background-color:#ffea00;
	color:#313131;
	font-size: 11px;
	font-weight: bold !important;
	margin-left: 5px;
	padding: 2px 5px;
	text-decoration: none;
}

#trialLink{
	display: block;
	padding-left: 8px;
	padding-top: 3px;
}












