
.news_body_container {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    height: 100%;
    position: relative;
}

.news_body {
    width: 1127px;
    margin: auto;
    height: auto;
    position: relative;
}

#first{
    width: 100%;
    float: left;
    margin: 0px 0px 0px 0;
}

.post_container {
    padding-right: 355px;
    height: auto;
    width: auto;
    position: relative; 
}

.post_warpper{
    width: 100%;
    height: auto;
    position: relative;
}

.post_shower {
    width: auto;
    height: 39px;
    background: url(../images/zuixintougao.png);
    background-repeat: no-repeat;
    overflow: hidden;
}

.post_cell_container{
    margin-top: 0px;
    width: 100%;
    height: auto;
}

.post_cell{
    width: 100%;
    height: auto;
    margin-top: 18px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
}

.loading_cover{
    display: block;
    width: 100%;
    height: 100%;   
    position: absolute;
    background-color: rgba(255, 255, 255, 0.66);
    background-image: url(../images/ajax-loader.gif);
    background-size: 64px;
    background-position: 50% 240px;
    background-repeat: no-repeat;
    z-index: 2000;
}


.post_cell img {
    position: absolute;
    left: 0px;
    width: 195px;
    height: 100%;
    background-clip: content-box;
    background-size: cover;
    background-clip: border-box;
    border-radius: 10px;
}

.post_cell blockquote {
    display: block;
    width: auto;
    padding-left: 195px;
    padding-top: 3px;
    min-height: 150px;
    height: auto;
}

.post_cell a {
    margin-left: 10px;
    margin-right: 30px;
    display: block;
    font-weight: 100;
    font-size: 15px;
    color: #0078b6;
    text-decoration: none;
    overflow: hidden;
}

.post_cell a:hover{
     color: #d940b0;
}

.post_cell h2 {
    margin-top: 5px;
    display: block;
    font-size: 15px;
    color: #0078b6;
    margin-left:3px;
    overflow: hidden;
}

.post_cell li {
    display: inline;
    font-size: 12px;
    color: #767676;
    margin-left:10px;
}

.post_cell .tag{
    display: inline-block;
    font-size: 12px;
    color: #fff;
    background: rgba(250, 51, 94, 0.87);
    border-radius: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top:1px;
    margin-bottom:1px;
    margin-left:0px;
    margin-right:10px;
    width: auto;
    cursor:pointer;
}

.post_cell tags{
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    height: 21px;
    display: block;
    overflow: hidden;
}

.post_cell p {
    display: inline-block;;
    margin-left:10px;
    margin-right:10px;
    font-size: 13px;
    color: #000000;
}

.postslider {
    width: 100%;
    height: 10px;
    margin-top: 10px;
    display: block;
    background-repeat: no-repeat;
    /* background: url(../images/postslider.png); */
    
    border-color: rgb(255, 96, 132);
    border-width: 0px 0px 3px 0px;
    border-style: dashed;
}

.prevPostPage{
    width: 48px;
    height: 48px;
    margin-top: 10px;
    display: inline-block;
    float:left; 
    background: url(../images/arrow-18-48-left.png);
    cursor:pointer;
}


.nextPostPage{
    width: 48px;
    height: 48px;
    margin-top: 10px; 
    float: right;
    display: inline-block;
    background: url(../images/arrow-18-48.png);
    cursor:pointer;
}

#second{
    width: 320px;
    position: absolute;
    right: 0px;
    margin: 0px 0px 0px 0;
    z-index: 100;
}

.weibo_container {
    height: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
}

.weibo_shower {
    width: 100%;
    height: 39px;
    background: url(../images/zuixindongtai.png);
    background-repeat: no-repeat;
}


.rank_shower {
    width: 100%;
    height: 39px;
    background: url(../images/rankshower.png);
    background-repeat: no-repeat;
}
.rank_contianer {
    margin-top: 20px;
    width: 100%;
    height: auto;
    background:  rgba(255, 255, 255, 0.9);
    padding-top: 5px;
}

.rank_cell{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin-bottom: 5px;
}

.rank_cell img {
    display: inline;
    float: right;
    margin: 2px 2px 2px -2px;
    width: 95px;
}

.rank_cell blockquote {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
    height: auto;
    border-style: none none solid none;
    border-bottom: 2px dashed #DADADA;
}

.rank_cell h1 {
    display: inline;
    font-size: 15px;
    color: #FEFCFD;
    margin-left: 2px;
    padding: 1px 6px 0px 6px;
    background-color: rgb(255, 96, 132);
}

.rank_cell a {
    display: inline;
    font-weight: 100;
    font-size: 15px;
    color: #0078b6;
    text-decoration: none;
}

.rank_cell a:hover{
     color: #d940b0;
}

.float_video_ply {
    background: #fff;
    position: fixed;
    width: 600px;
    height: 480px;
    right: 50px;
	bottom: 50px;
    background: #fff;
    z-index: 1000;
    display: 
}

.float_video_ply iframe{
    width: 600px;
    height: 480px;
}

.float_video_ply embed{
    width: 600px;
    height: 475px;
}

.index_float_video_ply_close {
    right: -24px;
    top: -1px;
    width: 24px;
    height: 24px;
    position: absolute;
    background: url(../images/close-window-24.png);
    cursor:pointer;
    z-index: 1000;
}

.index_float_video_ply_move {
    right: -24px;
    top: 25px;
    width: 24px;
    height: 24px;
    position: absolute;
    cursor:pointer;
    color: #fb6686;
    z-index: 1000;
}

.index_float_video_ply_move_cover{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.66);
    z-index: 1200;
}

.float_video_link {
    right: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    position: absolute;
    background: url(../images/tv-16.png);
    cursor:pointer;
    z-index: 500;
}

/*   News Rolller   */
div#whatsnew_parent {
  margin-top: 20px;
  margin-bottom: 30px;
  background:  rgba(255, 255, 255, 0.9);
  padding-left: 5px;
  width: auto;
  height: auto;
  display: block;
  position: relative;
}

#mcs_container {
  position: relative;
  width: 100%;
  height: 280px;
  padding: 4px 0 5px;
}

#mcs_container .customScrollBox .container {
  position: relative;
  width: 97%;
  top: 0;
  float: left;
}

#mcs_container .dragger_container {
  position: relative;
  width: 5px;
  height: 100%;
  float: left;
  margin: 5px 0 0 0;
  background: #eaeaea;
  cursor: pointer -moz-border-radius:2px;
  -khtml-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: s-resize;
}

#mcs_container .customScrollBox .content {
  clear: both;
}

#mcs_container .customScrollBox {
  position: relative;
  height: 100%;
  overflow: hidden;
}

div#whatsnew_parent li {
  display: block;
  width: 240px;
  /* height: 60px; */
  margin-bottom: 3px;
  padding-left: 5px;
  padding-bottom: 10px;
  border-left: 5px solid rgba(251, 102, 134, 0.87);
  font-size: 90%;
  line-height: 1.3;
}

div#whatsnew_parent p,a{
  color: black;
}

div#whatsnew_parent li span.date {
  font-family: "Century Gothic", "Verdana", "Arial", "Helvetica", sans-serif;
  font-size: 120%;
  color: #00a1e9;
  font-weight: 100;
}

#mcs_container .dragger {
  position: absolute;
  width: 5px;
  height: 60px;
  background: #c7c7c7;
  text-align: center;
  line-height: 60px;
  color: #666;
  overflow: hidden;
  cursor: pointer;
  -moz-border-radius: 2px;
  -khtml-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/*   responsive design    */
@media only screen and (max-width: 1223px){
    .news_body{
        width: 85%;
    }
    
    .post_cell img {
        display: inline-block;
        position: static;
        float: left;
        margin: 5px;
        margin-top: 5px;
        margin-bottom: 0px;
        width: 45px;
        height: 45px;
        background-clip: content-box;
        background-size: cover;
        background-clip: border-box;
    }
    
    .post_cell blockquote{
        padding-left: 0px;
        min-height: 0px;
    }
    
    .post_cell a{
        display: block;
    }
    
    .post_cell tags{
        margin-top: 1px; 
        margin-left: 10px;
        margin-right: 10px;
        width: auto;
        height: auto;
        display: block;
        overflow: none;
    }
    
}

@media only screen and (min-width: 767px) and (max-width: 1223px){

}

@media only screen and (min-width: 480px) and (max-width: 766px){
    
    .post_container {
        padding-right: 0px;
    }
    
    #second{
        display: block;
        position: static;
        width: 100%;
        margin: auto;
    }
    
    #first{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 479px){
    
    .post_container {
        padding-right: 0px;
    }
    
    #second{
        display: block;
        position: static;
        width: 100%;
        margin: auto;
    }
    
    #first{
        margin-top: 20px;
    }
}