
.news_body {
    top:480px;
/*    background: #ffe6e6;*/
    height: 500px;
    width: 70%;
    margin: auto;
    position: relative;
}

.post_container {
    height: 800px;
    width: 70%;
    margin-top: 80px; 
    position: absolute;
}

.post_container img {
    display: inline-block;
 
    height: 22%;
    margin: 20px;
}


.post_shower {
    margin-top: 30px; 
    left: -5%;
    width: 801px;
    height: 50px;
    position: absolute;
    background: url(images/../images/zuixinshipin.png);
    transform: scale(0.8,0.8);
}

.weibo_container {
    height: 750px;
    width: 28%;
    left: 65%;
    margin-top: 20px; 
    position: absolute;
}
