@charset "utf-8";
#head {
    background-image: url(../images/headline.gif);
    background-repeat: no-repeat;
    background-position: center top;
    height: 157px;
}

#shead {
    background-image: url(../images/logo.jpg); 
    background-repeat: no-repeat;
    background-position: center top;
    height: 300px;
    width: auto;
    position: absolute;
    left: 0px;
}

.sheadin {
    width: 1084px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    height: 90px;
}

.sheadin h1 {
    background-image: url(../images/logo.png);
    height:213px;
    width: 184px;
    position: absolute;
    left:70px;
    top:23px;
    z-index: 50000;
}

.sheadin h1:hover {
    -webkit-animation: animate-stripes-logo 1s linear infinite;
}

/*      logo and title     */
.uri {
    background-image: url(../images/%E7%97%9B%E6%96%B0%E9%97%BB%E4%B8%BB%E9%A2%98%E7%AB%99.png);
    height: 45px;
    width: 302px;
    position: absolute;
    left: 359px;
    top: 59px;
}
.uriTop {
    background-image: url(../images/top_uri.png);
    height: 10px;
    width: 1600px;
    position: absolute;
    left: 0px;
    top: 5px;
}

/*nagivation*/
.nvtop {
/*    background-image: url(../images/nv_top.png);*/
    background-color: rgb(0.7,0.7,0.7,1);
    height: 180px;
    width: 1600px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.nav {
    background-image: url(../images/bg_nav.gif);
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    top: 20px;
    left: 750px;
    z-index: 1100;
    /*width: 770px;*/
    /*width:750px;*/
    
    width: 820px;
}
.nav li {
    height: auto;
    width: auto;
}
.nav a:hover {
    -webkit-animation: gelatine .5s linear 1;
}
.nav a:hover:after{
    content: '';
    text-align: center;
    text-shadow: #b4b4b4 2px 2px 2px;
    color: #f5f5f5;
    font-size: 20px;
    font-family: sans-serif;
    
    position: absolute;
    top: 110%;
    bottom: -70%;
    right: -25%;
    left: -25%;

    box-shadow: rgb(248,92,92) 2px 2px 2px;
    border-radius: 5% / 50%;
}


.nav1 a {
    background-image: url(../images/nv1.png);
    height: 66px;
    width: 66px;
    position: absolute;
    left: 90px;
    top: 32px;
} 
.nav1 a:hover:after{
    content: '痛新闻';
    background:#00b7ee;
}


.nav2 a {
    background-image: url(../images/nv2.png);
    height: 66px;
    width: 66px;
    position: absolute;
    left: 170px;
    top: 32px;
}
.nav2 a:hover:after{
    content: '图片区';
    background:#ee0070;
}


.nav3 a {
    background-image: url(../images/nv3.png);
    height: 66px;
    width: 66px;
    position: absolute;
    left: 250px;
    top: 32px;
}
.nav3 a:hover:after{
    content: '摄影区';
    background:#00ee8c;
}

.nav4 a {
    background-image: url(../images/nv4.png);
    height: 66px;
    width: 66px;
    position: absolute;
    left: 330px;
    top: 32px;
}
.nav4 a:hover:after{
    content: '人文旅游';
    background:#eec400;
}

.nav5 a {
    background-image: url(../images/nv5.png);
    height: 66px;
    width: 66px;
    position: absolute;
    left: 410px;
    top: 32px;
}
.nav5 a:hover:after{
    content: '关于我们';
    background:#be00ee;
}

.navs {
    background-image: url(../images/nv_before.png);
    height: 77px;
    width: 77px;
    position: absolute;
    left: 490px;
    top: 24px;
    -webkit-animation: animate-stripes 30s linear infinite;
}

.navs2 {
    background-image: url(../images/nv_before.png);
    height: 77px;
    width: 77px;
    position: absolute;
    left: 0px;
    top: 24px;
    -webkit-animation: animate-stripes 30s linear infinite;
}

@-webkit-keyframes animate-stripes {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes animate-stripes-logo {
    0% {
        -webkit-transform: rotate(0deg);
    }
    25% {
        -webkit-transform: rotate(10deg);
    }
    50% {
        -webkit-transform: rotate(0deg);
    }
    75% {
        -webkit-transform: rotate(-10deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-webkit-keyframes gelatine {
    from, to {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    25% {
        -webkit-transform: scale(.9, 1.1);
        transform: scale(.9, 1.1)
    }
    50% {
        -webkit-transform: scale(1.1, .9);
        transform: scale(1.1, .9)
    }
    75% {
        -webkit-transform: scale(.95, 1.05);
        transform: scale(.95, 1.05)
    }
    from,
    to {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1)
    }
    25% {
        -webkit-transform: scale(.9, 1.1);
        transform: scale(.9, 1.1)
    }
    50% {
        -webkit-transform: scale(1.1, .9);
        transform: scale(1.1, .9)
    }
    75% {
        -webkit-transform: scale(.95, 1.05);
        transform: scale(.95, 1.05)
    }
}