@charset "utf-8";
#head {
	background-image: url(../images/headline.gif);
	background-repeat: no-repeat;
	background-position: center top;
	height: 157px;
}
#shead {
/*	 background-image: url(../images/logo.jpg); */
	background-repeat: no-repeat;
	background-position: center top;
	height: 300px;
    width: auto;
    position: absolute;
    left: 0px;
}
.sheadin {
	width: 1084px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	height: 90px;
}
.sheadin h1 {
    background-image: url(../images/logo.png);
    height: 286px;
    width: 247px;
	position: absolute;
	left: 32px;
    top: 9px;
	z-index: 50000;
      
}
.sheadin h1:hover{
    -webkit-animation: animate-stripes-logo 1s linear infinite;  
}

.uri {
	background-image: url(../images/%E7%97%9B%E6%96%B0%E9%97%BB%E4%B8%BB%E9%A2%98%E7%AB%99.png);
    height:39px; 
    width:247px;
	position: absolute;
    left:319px;
    top:33px;
}
.uriTop {
	background-image: url(../images/tp_uri.png);
	height: 11px;
	width: 154px;
	position: absolute;
	left: 865px;
	top: 85px;
}
.uri2 {
    background-image: url(../images/%E6%97%A5%E6%9C%ACACG%E6%9C%80in%E6%BD%AE%E6%B5%81%E7%AB%99.png);
    height:33px;
    width:277px;
	position: absolute;
    left:298px; 
    top:106px;
    
}
.nvtop {
    background-image: url(../images/nv_top.png);
    height:99px;
    width: 1600px;
	position: absolute;
    left: 0px; 
    top:0px;
}

.nav {
	background-image: url(../images/bg_nav.gif);
	background-repeat: no-repeat;
	background-position: center top;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1100;
	/*width: 770px;*/
	/*width:750px;*/
	width:820px;
}
.nav li {
	height: auto;
	width: auto;
}
.nav a:hover {
     -webkit-animation: gelatine .5s linear infinite;  
}
.nav1 a {
	background-image: url(../images/nv1.png);

    height: 110px;
    width: 110px;
    position: absolute;
	left: 487px;
    top: 40px;
}

.nav2 a {
	background-image: url(../images/nv2.png);

    height: 110px;
    width: 110px;
    position: absolute;
	left: 607px;
    top: 40px;
}

.nav3 a {
	background-image: url(../images/nv3.png);

    height: 110px;
    width: 110px;
    position: absolute;
	left: 727px;
    top: 40px;
}
.nav4 a {
	background-image: url(../images/nv4.png);

    height: 110px;
    width: 110px;
    position: absolute;
	left: 847px;
    top: 40px;
}
.nav5 a {
	background-image: url(../images/nv5.png);

    height: 110px;
    width: 110px;
    position: absolute;
	left: 967px;
    top: 40px;
}


.nav a.active{
	height:85px;
}

.navs {
    background-image: url(../images/nv_before.png);

    height: 130px;
    width: 130px;
    position: absolute;
	left: 340px;
    top: 24px;
    -webkit-animation: animate-stripes 30s linear infinite;  

       
}
.navs2 {
    background-image: url(../images/nv_before.png);

    height: 130px;
    width: 130px;
    position: absolute;
	left: 1090px;
    top: 24px;
    -webkit-animation: animate-stripes 30s linear infinite;  

       
}

 @-webkit-keyframes animate-stripes {    
            0% {-webkit-transform: rotate(0deg);}   
            100% {-webkit-transform: rotate(360deg);}    
} 

 @-webkit-keyframes animate-stripes-logo {    
            0% {-webkit-transform: rotate(0deg);}   
            25% {-webkit-transform: rotate(10deg);}    
           50% {-webkit-transform: rotate(0deg);}   
            75% {-webkit-transform: rotate(-10deg);}   
            100% {-webkit-transform: rotate(0deg);}  
} 


@-webkit-keyframes gelatine{
  from,to{
    -webkit-transform:scale(1, 1);
    transform:scale(1, 1)
  }
  25%{
    -webkit-transform:scale(.9, 1.1);
    transform:scale(.9, 1.1)
  }
  50%{
    -webkit-transform:scale(1.1, .9);
    transform:scale(1.1, .9)
  }
  75%{
    -webkit-transform:scale(.95, 1.05);
    transform:scale(.95, 1.05)
  }
  from,to{
    -webkit-transform:scale(1, 1);
    transform:scale(1, 1)
  }
  25%{
    -webkit-transform:scale(.9, 1.1);
    transform:scale(.9, 1.1)
  }
  50%{
    -webkit-transform:scale(1.1, .9);
    transform:scale(1.1, .9)
  }75%{
    -webkit-transform:scale(.95, 1.05);
    transform:scale(.95, 1.05)
  }
}

