@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300&subset=latin,latin-ext);

.intro_container{
    position: relative;
    width: 1000px;
    margin: 20px auto;
    height: 400px;
     text-align: center;
}

#introvideo{
    float: left;
    position: relative;
    width: 600px;
    height: 400px;
}

.weiboshower{
    float: left;
    height: 400px;
    width: 350px;
    padding-left:50px; 
}
.contactform * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contactform h1, .contactform h2 {
  color: #ff7d9b;
  text-align: center;
}

.contactform h1 {
  font-size: 2.5em;
  margin-top: 20px;
}

.contactform h2 {
  margin: 20px 0;
  font-weight: 100;
}

.contactform input::-webkit-input-placeholder,.contactform textarea::-webkit-input-placeholder{
  color: #cccccc;
}
.contactform table {
  text-align: left;
  width: 640px;
  margin: 30px auto;
  border-radius: 3px;
  background-color: #fff;
}
.contactform table th {
  padding: 10px;
}
.contactform table tr:nth-child(odd) {
  background-color: #F5F7FA;
}
.contactform table td {
  padding: 10px 15px;
  color: #434A54;
}

.amount {
  color: #DA4453;
  text-align: right;
}

#fbutton {
  position: relative;
  top: 0;
  color: #F5F7FA;
  padding: 20px;
  text-align: center;
  line-height: 24px;
  width: 200px;
  background-color: #4FC1E9;
  border-radius: 3px;
  cursor: pointer;
  margin: auto;
  box-shadow: 0 3px #4A89DC;
  transition: 0.1s ease;
    margin-bottom: 440px;
    font-size:16px;
}
#fbutton:active {
  position: relative;
  box-shadow: 0 0px #4A89DC;
  top: 3px;
  box-shadow: 0 0;
}

#form-box {
  width: 650px;
  margin: 30px auto;
  padding-left: 15px;
}

.contactform form {
  color: #fff;
  margin: auto;
}
.contactform form select,.contactform form input {
  margin-bottom: 25px;
  color: #434A54;
  padding: 10px;
  width: 200px;
  border-radius: 3px;
  border: 0;    
}
.contactform form selectactive, form inputactive {
  border: 1px solid #4FC1E9;
  transition: 0.2s ease;
}
.contactform form div {
  display: inline-block;
  margin-right: 10px;
}
.contactform form span {
      color: #ff8989;
  font-size: 1.3em;
  font-weight: 100;
  display: inline-block;
  width: 100px;
}

#infoinput{
    width: 520px;
    height: 60px;
      border-radius: 3px;
  border: 0; 
    padding: 10px;  
}

#type {
  width: 50px;
}

#date {
  width: 141px;
}

#amount {
  width: 100px;
}

#if-empty {
  text-align: center;
}

.contactform .center {
  margin: auto;
  text-align: center;
}

