#reading_post_container{
    padding-right: 0px;
    min-height: 1400px;
}

.post_widget_container{
    min-height: 400px;
}

body{
    background:url("http://jitsuwata.tv/common/images/bg_dott01.png");
}

.rect_1 {
  border-radius: 1px;
  opacity: 0.702;
  position: absolute;
  left: 4px;
  top: 8px;
  width: 100px;
  height: 36px;
  z-index: -4;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
}

.rect_2 {
  border-radius: 1px;
  opacity: 0.702;
  position: absolute;
  left: 0px;
  top: 4px;
  width: 100px;
  height: 35px;
  z-index: -4;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
}

.r1{
    background-color: rgb(77, 222, 183);
}

.r2 {
    background-color: rgb(182, 96, 255);
}

.r3 {
    background-color: rgb(255, 96, 132);
}

.r4 {
    background-color: rgb(255, 163, 96);
}


/*arrow*/
.prevPostPage,.nextPostPage{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.addPostPage{
    position: relative;
    text-align: right;
    font-size: 18px;
    color:rgb(255, 96, 132);
    font-weight: bold;
    padding-left: 10px;
    padding-right: 20px;
    cursor: pointer;
}
