.tongpost_body {
    top:40px;
    background-color: rgba(216, 216, 216, 0.46);
    height: auto;
    width:  1132px;
    margin: auto;
    margin-bottom: 70px;
    position: relative;
}

.menu_container{
    width: 200px;
    height: 2000px;
    display: inline-block;
    float: left;
    vertical-align: top;

}

.tongpost_container {
    height: auto;
    min-height: 600px;
    width: 920px;
    display: inline-block;
    background: url(../images/tongpost_bk.jpg);
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.tongpost_container blockquote {
    display: inline-block;
    width: 630px;
    height: auto;
}

.tongpost_container a{
    pointer-events: none;
    cursor: default;
    color: black;
}

.tongpost_container h2 {
    margin-top: 5px;
    display: block;
    font-size: 24px;
    color: #fb6686;
    font-family: '微软雅黑';
    margin-left:3px;
    overflow: hidden;
    padding-left: 15px;
}

.tongpost_container h3 {
    margin-top: 2px;
    display: block;
    font-size: 18px;
    color: #4081d9;
    font-family: '微软雅黑';
    margin-left:20px;
}

.tongpost_container li {
    margin-top: 2px;
    display: block;
    font-size: 14px;
    color: rgba(126, 126, 126, 0.85);
    font-family: '微软雅黑';
    margin-left:20px;
}


.tongpost_container .tag{
    display: inline;
    font-size: 14px;
    color: #fff;
    font-family: '微软雅黑';
    background: rgba(203, 70, 227, 0.85);
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left:10px;
    cursor:pointer;
}

.tongpost_container tags{
    margin-top: 1px; 
    margin-left: 10px;
    display: block;
}

.tongpost_container p {
    display: block;
    margin-left:20px;
    margin-right:10px;
    font-size: 17px;
    color: #000000;
    font-family: '微软雅黑'；
}

.tongpost_container iframe {
    display: block;
    width: 600px;
    height: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: auto;
    border-style: solid solid solid solid;
    border: 2px solid #a2a2a2;
}

.tongpost_container embed {
    display: block;
    width: 1000px;
    height: 555px;
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: auto;
    border-style: solid solid solid solid;
    border: 2px solid #a2a2a2;
}

#comment_icon p{
    display: inline;
    font-size: 15px;
    font-weight: bold;
}

.rollingcomment_input{
    position: fixed;
    left: 1090px;
    bottom: 50px;
    background: rgba(255, 255, 255, 0.0);
    width: auto;
    height: auto;
}

.rollingcomment_input i{
    display: block;
    font-size:42px;
    margin: 5px;
    margin-bottom: 30px;
    color:rgba(251, 102, 134, 1);
    cursor: pointer;
}

.rollingcomment_input input{
    display: inline;
    margin: 5px;
    width: 150px;
    margin-bottom: 0px;
}

.rollingcomment_input h1{
    margin: 5px;
    display: block;
    font-size: 12px;
    color: #fb6686;
    font-family: '微软雅黑';
    cursor:pointer;
}

.rollingcomment_container h3{
    position: absolute;
    padding-left: 5px;  
    padding-right: 5px;  
    font-size: 12px;
    color: #fff;
    font-family: '微软雅黑';
    max-width: 100px;
    background: rgba(251, 102, 134, 0.93);
      box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
}

.flcomment:after{
    content:attr(cont);
    display: block;
}

.floating_cursor{
    position: absolute;
    height: auto;
    width: auto;
    color: #fb6686;
    font-size: 12px;
    overflow: hidden;
}

#comment_extend{
    width: auto;
    height: auto;
}
#comment_switch{
    background: #fb6686;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
}

#relatedpost{
    width:630px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.post_widget {
    display: inline-block;
    width: 180px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    position: relative;
    color: #fff;
}

.post_widget a{
    pointer-events: all;
    cursor: pointer;
    width: 100%;
    font-size: 14px;
}

.post_widget img{
    width: 100%;
    height: 130px;
    background-clip: content-box;
    background-size: cover;
    background-clip: border-box;
}

.post_widget blockquote{
    height: 50px;
    width: 100%;
    overflow:hidden;
}

.dashang_bar{
    position: relative;
    margin-top: 20px;
    width: 630px;
}

.dashang_bar h6{
    width: 245px;
    margin-left: auto;
    margin-right: auto;
    color:#4e4e4e;
    font-size: 14px;
}

.btn_dashang{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 82px;
                        height: 82px;
                        background: url("../images/btn_reward.gif") no-repeat;
    
    
}

.btn_dashang:hover{ background-position: 0px -82px;}



#map-canvas {
  height: 400px;
  width: 600px;
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 10px;
  padding: 0px;
  border: solid #fa3a7d 1px;
}

.markerinfo{
    color: #fa3a7d;
    font-size: 12px;
}

.maplabels{

    font-size: 16px;
    padding-left: 3px;
    padding-right: 3px;
    color: white;
    background-color: #fa3a7d;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.1);
    font-family:  "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

#xunliview{
    position: absolute;
    bottom: 0px;
    left: 20px;
    background-color: rgba(250, 58, 125, 0.76);
    border-radius:  0 0 0 20px;
    height: auto;
    width: auto;
    color: white;
    font-size: 12px;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
}

.xunli_map{
    position: relative;
}