#xunli_post_container{
    padding-right: 0px;
    
}
.post_wtnail_container{
    min-height: 200px;
}
body{
/*
    background:url("http://subtlepatterns.com/patterns/sativa.png");
    
*/
/*    background:url("http://jitsuwata.tv/common/images/bg_dott01.png");*/
}
.news_body{
/*    width: 100%;*/
}

#xunliview{
    position: absolute;
    bottom: -2px;
    left: 0px;
    background-color: rgba(250, 58, 125, 0.76);
    border-radius:  0 0 0 20px;
    height: auto;
    width: auto;
    color: white;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}
.post_wtnail_warpper {
    margin-top: 0px;
}

#first{
    width:100%;
}

#second{
    padding-top:20px;
    position: relative;
    white-space:nowrap;
    width: 100%;
    height: auto;
    opacity: 0.9;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

#second:hover{
    opacity: 1;
}

.news_body{
    margin-top: 0px;
    padding-bottom: 55px;
}

.mCSB_inside>.mCSB_container {
  margin-right: 5px;
}

.post_wtnail:hover{
    border: solid rgba(250, 58, 125, 0.75);
    border-width: 0 0 0 3px;
    cursor: pointer;
    
}


  
