#xunli_post_container{
    padding-right: 0px;
}

body{
    background-image: url("");
}


.xunli_map{
    width: 870px;
    margin: auto;
    margin-top: 30px;
    height: 495px;
    padding-right: 250px;
    position: relative;
}

.xmap{
    float:right;
}

.post_wtnail_warpper {
    margin-top: 0px;
}

#map-canvas {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  margin: 0;
  padding: 0px;
  border: solid #fa3a7d 2px;
}

.markerinfo{
    color: #fa3a7d;
    font-size: 12px;
}

#second{
    margin-top: 30px;
    width: 244px;
    height: 500px;
    overflow: auto;
}

.news_body{
    margin-top: 0px;
    padding-bottom: 55px;
}

.mCSB_inside>.mCSB_container {
  margin-right: 5px;
}

.post_wtnail:hover{
    border: solid rgba(250, 58, 125, 0.75);
    border-width: 0 0 0 3px;
    
}